h1{color:rgb(234, 10, 10); font-family:Verdana, Geneva, Tahoma, sans-serif; text-align:center ;}
h2{color:rgb(48, 199, 225); font-size: 30px;font-family: 'Dancing Script', cursive;}
h3{color:rgb(34, 34, 202);font-size: 30px;font-family: 'Dancing Script', cursive;}
h4{color:rgb(42, 165, 116);font-size: 30px;font-family: 'Dancing Script', cursive;}
body{background-color: aquamarine;}
div{text-align:center}





